DISCORD_TOKEN=
OWNER_ID=

PURDUE_IO_URL=

TRACKER_IMAGE_CDN=
TRACKER_HERO_CDN=

TRACKER_URL_PROFILE=
TRACKER_URL_MATCH=

API_URL_PROFILE=
API_URL_MATCH=

API_HOST=
API_ORIGIN=
API_REFERER=
API_USER_AGENT=

MONGO_PORT=
MONGO_HOST=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_CONNECTION_STRING=